# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
**/bin/
**/obj/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# Others
*.cache
*.log
*.tmp
*.temp